@using Vidly.Models
@model IEnumerable<Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*Movies/Index*@

<h2>Movies</h2>

@*<a class="btn btn-info" href=“/new”>New Movie</a>*@

@Html.ActionLink("New Movie", "New", "Movies", new { }, new { @class = "btn btn-info" })


@if (!Model.Any())
{
    <p>There are no movies... :(</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, new { })</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}